.creditFooter{
    color: var(--text-color);
    font-size: 18px;
}

.creditFooter a{
    color: var(--color-secundaria);
    text-decoration: none;
}

.creditCreated{
    color: var(--text-color);
    font-size: 18px;
}

.creditCreated a{
    color: var(--color-secundaria);
    text-decoration: none;
}

.linksFooter li a{
    color: var(--color-secundaria);
    font-size: 25px;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .creditFooter{
        text-align: end;
        font-size: 17px;
    }
    .creditFooter{
        margin-left: 6px;
        margin-right: 6px;
    }
    .linksFooter{
        margin: auto;
    }
    .linksFooter li{
        margin-left: 0 !important;
    }

    .creditCreated p{
        margin: 0;
    }
}