@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root{
  --bg-color: #000000;
  --text-color: white;
  --text-color-secundaria: #e2e0e0;
  --color-primaria: #ce9429;
  --color-secundaria: #f4be48;
}

body{
  background-color: var(--bg-color) !important;
  font-family: 'Roboto', sans-serif !important;
}

